<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>17.0.1</Version>
<Cluster>
<Name>Settings</Name>
<NumElts>7</NumElts>
<Cluster>
<Name>Harware Configuration</Name>
<NumElts>5</NumElts>
<Refnum>
<Name>Camera</Name>
<RefKind>Generic Tag</RefKind>
<RefType>IMAQdx</RefType>
<Val>cam1</Val>
</Refnum>
<U32>
<Name>Frames Per Second</Name>
<Val>30</Val>
</U32>
<Boolean>
<Name>Simulate Recording</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>Simulated Recording Sample</Name>
<Val></Val>
</Path>
<EW>
<Name>Timestamp Method</Name>
<Choice>System Timestamp</Choice>
<Choice>Camera Timestamp</Choice>
<Choice>IMAQdx Timestamp</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Path>
<Name>Base Recording Path</Name>
<Val>C:\Users\aortiza\Desktop\Experiments\Experiment3</Val>
</Path>
<String>
<Name>Type Of Recording</Name>
<Val>Video</Val>
</String>
<String>
<Name>Recording Codec</Name>
<Val>Motion JPEG (NI Vision)</Val>
</String>
<Cluster>
<Name>TrackingSettings</Name>
<NumElts>3</NumElts>
<I32>
<Name>Max Radius</Name>
<Val>0</Val>
</I32>
<SGL>
<Name>Threshold</Name>
<Val>182.14285</Val>
</SGL>
<Cluster>
<Name>ROI</Name>
<NumElts>5</NumElts>
<I32>
<Name>Left</Name>
<Val>208</Val>
</I32>
<I32>
<Name>Top</Name>
<Val>125</Val>
</I32>
<I32>
<Name>Right</Name>
<Val>433</Val>
</I32>
<I32>
<Name>Bottom</Name>
<Val>350</Val>
</I32>
<DBL>
<Name>Rotation</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>Calibration</Name>
<NumElts>2</NumElts>
<DBL>
<Name>Pixel Width (X)</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Pixel Height (Y)</Name>
<Val>1.00000000000000</Val>
</DBL>
</Cluster>
<I32>
<Name>Broadcast Length</Name>
<Val>0</Val>
</I32>
</Cluster>
</LVData>